@model IEnumerable<SMGJ.Models.KONTAMINIMI>
@using SMGJ.Models
@using SMGJ.Controllers
@{
    ViewBag.Title = "Index";
    //int t = 1;
    SMGJDB db = new SMGJDB();
}
<head>
    <link href="~/Content/theme/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
</head>
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" style="color:royalblue; font-family: Shakespeare, 'Times New Roman', Times, serif">Lista e kontaminive të qumështit </h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Create","Kontaminimi")" class="btn btn-green">Regjistro</a>
        </div>
    </div>
    <div class="row margin-top-15 ">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h5 class="panel-title">Lista e kontaminimeve</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="hidden-xs">Vlera</th>

                                <th>
                                    Niveli
                                </th>
                                <th class="hidden-xs"> Krijuar</th>
                                <th>
                                    Krijuar nga
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr name="rreshtat" contenteditable="false">
                                        <td contenteditable="false">@item.ID</td>
                                        <td class="hidden-xs">
                                            @item.Vlera
                                        </td>
                                        <td>@item.Niveli</td>
                                        <td class="hidden-xs">
                                            @*@{
                                                    var klasa = "success";
                                                    var pershktimi = "Aktive";
                                                    if (item.Aktiv != true)
                                                    {
                                                        klasa = "danger";
                                                        pershktimi = "Pasive";
                                                    }
                                                }*@
                                            @*<span class="label label-sm label-@klasa">@pershktimi</span>*@
                                            @item.Krijuar.Value.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @{
                                                
                                                var user = db.USERs.Find(item.KrijuarNga);
                                        }
                                        @user.Emri @user.Mbiemri
                                    </td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="@Url.Action("Edit","KONTAMINIMI" , new {id=(item.ID)})" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                            @*<a href="@Url.Action("Edit","KONTAMINIMI" , new {id=(BaseController.Encrypt(item.ID.ToString()))})" class="btn btn-transparent btn-primary btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>*@
                                            <a onclick="deletemenu(this)" data-kontid="@item.ID" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                        </div>
                                    </td>

                                </tr>
                            }

                            @*<tr>
                                    <td><input type="text" name="New_Id" placeholder=2 /></td>
                                    <td><input type="text" placeholder=2 /></td>
                                    <td><input type="text" placeholder=3 /></td>
                                    <td><input type="text" placeholder=4 /></td>
                                    <td><input type="text" placeholder=5 /></td>
                                    <td><button>Shto Rreshtin</button></td>
                                </tr>*@
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Content/theme/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/theme/vendor/toastr/toastr.min.js"></script>
    <script src="~/Content/theme/assets/js/main.js"></script>
    <script src="~/Content/theme/assets/js/ui-notifications.js"></script>
    <script>


        var deletemenu = function (btn) {
            //alert("heelo");


            @*//alert($(btn).data("kontid"))
             $.ajax({
                    url: "@Url.Action("DeleteKont", "KONTAMINIMI")",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    data: obj,
                    success: function (rs) {
                        if (rs.status) {
                            /*swal("Deleted!", "Your imaginary file has been deleted.", "success");*/

                            //window.setTimeout(function () { location.reload() }, 2000);
                            location.reload();
                        } else {
                            //alert("This cannot be deleted");
                            alert(rs.Mesazhi)
                            //swal("Cancelled", "Your imaginary file is safe :)", "error");
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        if (jqXHR.status && jqXHR.status == 400) {
                            console.log(jqXHR.responseText);
                        }
                        else {
                            swal("Error deleting!", "Please try again", "error");
                        }
                    }
                }); //end ajax*@
            /*var obj = { ID: $(btn).data("menuid") };*/
            //var obj = { ID: $(btn).data("kontid") };
            swal({
                    title: "A jeni i sigurt?",
                    text: "Ju nuk do të jeni në gjendje të riktheni kontaminimin e zgjedhur!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Po, fshije!",
                    cancelButtonText: "Jo, anulo!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, //end swal
                    function (isConfirm) {
                        if (isConfirm) {
                            var obj = { ID: $(btn).data("kontid") };
                            $.ajax({
                                url: "@Url.Action("DeleteKont", "KONTAMINIMI")",
                                cache: false,
                                type: "POST",
                                dataType: "json",
                                data: obj,
                                success: function (rs) {
                                    if (rs.status) {
                                        swal({ title: "Deleted!", text: "Kontaminimi i zgjedhur është fshirë me sukses!", type: "success" },  function () {
                                            location.reload()
                                        });

                                        //window.setTimeout(function () { location.reload() }, 2000);
                                        //location.reload();
                                    } else {
                                        //alert("This cannot be deleted");
                                        swal("Anulim!", rs.Mesazhi, "error");
                                    }
                                },
                                error: function (jqXHR, error, errorThrown) {
                                    if (jqXHR.status && jqXHR.status == 400) {
                                        console.log(jqXHR.responseText);
                                    }
                                    else {
                                        swal("Gabim në fshirje!", "Ju lutemi provoni përsëri!", "error");
                                    }
                                }
                            }); //end ajax
                        } else {
                            swal("Anulim!", "Kontaminimi i zgjedhur nuk është fshirë!", "error");
                        }
                    });
        } //end delete
    </script>

}


