@model IEnumerable<SMGJ.Models.YNDYRA>
    @using SMGJ.Models;
@{
    ViewBag.Title = "Index";
    SMGJDB db = new SMGJDB();
  
}
<section id="page-title">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-center">YNDYRAT</h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Create","YNDYRA")" class="btn btn-green">Regjistro</a>
        </div>
    </div>
    <div class="row margin-top-15 ">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h5 class="panel-title">Lista e yndyrave </h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="hidden-xs">Emertimi</th>
                                <th class="hidden-xs">Perqindja</th>
                                <th>
                                    Krijuar
                                </th>
                                <th class="hidden-xs"> KrijuarNga</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var user = db.USERs.Find(item.KrijuarNga);
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Emertimi</td>
                                    <td>@item.Perqindja%</td>
                                    <td>@item.Krijuar</td>
                                    <td>@user.Emri @user.Mbiemri</td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="@Url.Action("Edit","YNDYRA" , new {id=item.ID})" class="btn btn-transparent btn-xs " tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil  "></i></a>
                                            <a onclick="deletemenu(this)" data-menuid="@item.ID" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var deletemenu = function (btn) {
            swal({
                title: "A je i Sigurt?",
                text: "Te dhenat nuk mund te kthehen!!!",
                type: "warning",
                timer: 1000000,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Po, fshij!",
                cancelButtonText: "Anulo!",
                closeOnConfirm: false,
                closeOnCancel: false,
                await: true
            },
                function (isConfirm) {
                        if (isConfirm) {
                            var obj = { ID: $(btn).data("menuid") };
                            $.ajax({
                                url: "@Url.Action("DeleteRecord", "YNDYRA")",
                                cache: false,
                                type: "Post",
                                dataType: "json",
                                data: obj,
                                success: function (rs) {
                                    if (rs.status) {
                                        swal("U fshine!", "Te dhenat u fshin me sukses", "success");
                                        window.setTimeout(function () { location.reload() }, 2000);
                                    } else {
                                        swal("Anulim", "Te dhenat nuk jan fshire", "error");
                                    }
                                },
                                error: function (jqXHR, error, errorThrown) {
                                    if (jqXHR.status && jqXHR.status == 400) {
                                        console.log(jqXHR.responseText);
                                    }
                                    else {
                                        swal("Gabim gjate fshirjes", "Provoni perseri", "error");
                                    }
                                }
                            }); //end ajax
                        } else {
                            swal("Anulim", "Te dhenat nuk jane fshire :)", "error");
                        }
                    });
        };         //end ajax
       //end delete
    </script>
   

}
