@model SMGJ.Models.Editimi
@{
    ViewBag.Title = "Create";
    var gjinia = (List<SelectListItem>)ViewBag.Gjinia;
}
@Html.HiddenFor(m => m.ID)
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Editimi i perdoruesve</h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="panel panel-white">
        <div class="panel-body">
            <form action="#" role="form" id="forma">
                <div class="col-md-8">
                    <div class="row">
                        <fieldset>
                            <legend>
                                Te dhenat personale
                            </legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Emri
                                        </label><span class="symbol required"></span>
                                        @Html.TextBoxFor(m => m.Emri, new { @class = "form-control", @placeholder = "Shenoni emrin" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Mbiemri
                                        </label><span class="symbol required"></span>
                                        @Html.TextBoxFor(m => m.Mbiemri, new { @class = "form-control", @placeholder = "Shenoni mbiemrin" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Numri personal
                                        </label>
                                        @Html.TextBoxFor(m => m.NumriPersonal, new { @class = "form-control", @placeholder = "Shenoni numrin perdonal" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Datelindja
                                        </label>
                                        <p class="input-group input-append datepicker date">
                                            @Html.TextBoxFor(m => m.Ditelindja, new { @class = "form-control datepicker" })
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default">
                                                    <i class="glyphicon glyphicon-calendar" style="color:#007AFF "></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Email
                                        </label><span class="symbol required"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                @Html.Raw("@")
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E mail adresa" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form-field-mask-2">
                                            Telefoni
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon"> <i class="fa fa-phone"></i> </span>
                                            @Html.TextBoxFor(m => m.Telefoni, new { @class = "form-control", @placeholder = "Shenoni telefonin" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        Gjinia
                                    </div>
                                    @foreach (var item in gjinia)
                                    {
                                        <input type="radio" id="@item.Value" name="select1" value="@item.Value" checked=@item.Selected />
                                        @item.Text
                                    }
                                </div>
                                <div class="col-md-6">
                                    <label>
                                    </label>
                                    <div class="checkbox clip-check check-primary">
                                        <input type="checkbox" id="checkbox1" value="1" checked=@ViewBag.check>
                                        <label for="checkbox1">
                                            Statusi
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend>Te dhenat per qasje</legend>
                        <div class="row">


                        </div>
                        <div class="row">

                            <div class="col-md-12" id="rolet">
                                <div class="form-group">
                                    <label>
                                        Roli
                                    </label><span class="symbol required"></span>
                                    @Html.DropDownList("RoleID", null, "Zgjedh rolin", htmlAttributes: new { @class = "form-control select2" })
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Komuna
                                    </label><span class="symbol required"></span>
                                    @Html.DropDownList("InstitucioniID", null, "Zgjedh", htmlAttributes: new { @class = "form-control select2" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Username
                                    </label><span class="symbol required"></span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Shenoni username" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-right" onclick="editdata(this)">Edito   <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div> 

@section Scripts{
    <script>
        runValidator1 = function () {
            var form1 = $('#forma');
            var errorHandler1 = $('.errorHandler', form1);
            var successHandler1 = $('.successHandler', form1);
            $.validator.addMethod(
                "legalPassword",
                function (value, element) {
                    return /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-+_!#$%^&*.,?])/.test(value);
                },
                "Fjalekalimi duhet te permbaje se paku nje numer, nje shkronje te madhe, nje shkronje te vogel dhe nje nga  simbolet (-+_!#$%^&*.,?)  "
            );
            $('#forma').validate({
                errorElement: "span", // contain the error msg in a span tag
                errorClass: 'help-block',
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("type") == "radio" || element.attr("type") == "checkbox") { // for chosen elements, need to insert the error after the chosen container
                        error.insertAfter($(element).closest('.form-group').children('div').children().last());
                    } else if (element.attr("name") == "dd" || element.attr("name") == "mm" || element.attr("name") == "yyyy") {
                        error.insertAfter($(element).closest('.form-group').children('div'));
                    } else {
                        error.insertAfter(element);
                        // for other inputs, just perform default behavior
                    }
                },
                ignore: "",
                rules: {

                    Emri: {
                        required: true,
                    },
                    Mbiemri: {
                        required: true,
                    },
                    UserName: {
                        required: true,
                    },
                    Email: {
                        required: true,
                        email: true
                    }, RoleID: {
                        required: true,
                    },
                    InstitucioniID: {
                        required: true,
                    }

                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    successHandler1.hide();
                    errorHandler1.show();
                },
                highlight: function (element) {
                    $(element).closest('.help-block').removeClass('valid');
                    // display OK icon
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                    // add the Bootstrap error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element).closest('.form-group').removeClass('has-error');
                    // set error class to the control group
                },
                success: function (label, element) {
                    label.addClass('help-block valid');
                    // mark the current input as valid and display OK icon
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
                },
                submitHandler: function (form) {
                    successHandler1.show();
                    errorHandler1.hide();
                    // submit form
                    //$('#form').submit();
                }
            });
        };
        var editdata = function (btn) {
                runValidator1();
                if ($("#forma").valid() === true) {
                    var obj = {
                        ID: $("#ID").val(),
                        Emri: $("#Emri").val(),
                        Mbiemri: $("#Mbiemri").val(),
                        NumriPersonal: $("#NumriPersonal").val(),
                        Ditelindja: $("#Ditelindja").val(),
                        Telefoni: $("#Telefoni").val(),
                        RoleID: $("#RoleID").val(),
                        Email: $("#Email").val(),
                        InstitucioniID: $("#InstitucioniID").val(),
                        UserName: $("#UserName").val(),
                        Gjinia: $("input[name='select1']:checked").val(),
                        Statusi: $('#checkbox1').is(':checked')
                     // fetije
                    };
                var url_redirect = '@Url.Action("Index", "USER")';
                $.ajax({
                    url: "@Url.Action("Edit", "USER")",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    data: obj,
                    success: function (rs) {
                        if (rs.status) {
                            window.location.href = url_redirect;
                        }
                        else {
                            alert(rs.Message, "error");
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        if (jqXHR.status && jqXHR.status == 400) {
                            console.log(jqXHR.responseText);
                        } else {
                            console.log("Something went wrong");
                        }
                    }
                });
            }

            };
    </script> 
}
