@model IEnumerable<SMGJ.Models.MENU>
@{
    ViewBag.Title = "Index";
<<<<<<< HEAD
    int t = 1;
}


=======
} 
>>>>>>> e5481055c5749f4c30140eea04cb97dbef94551c
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Lista e menu-ve te sistemit</h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Create","MENU")" class="btn btn-green">Regjistro</a>
        </div>
    </div>
    <div class="row margin-top-15 ">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h5 class="panel-title">Lista e </h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="hidden-xs">Controller</th>
                                <th>
                                    Action
                                </th>
                                <th class="hidden-xs"> Statusi</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td class="hidden-xs">
                                        @item.Controller
                                    </td>
                                    <td>@item.Action_Metoda</td>
                                    <td class="hidden-xs">
                                        @{
                                            var klasa = "success";
                                            var pershktimi = "Aktive";
                                            if (item.Aktiv != true)
                                            {
                                                klasa = "danger";
                                                pershktimi = "Pasive";
                                            }
                                        }
                                        <span class="label label-sm label-@klasa">@pershktimi</span>

                                    </td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="@Url.Action("Edit","MENU" , new {id=item.ID})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
<<<<<<< HEAD
                                            <button data-menuid="@item.ID" class="btn btn-link btn-xs tooltips pull-right warning-message-parameter" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></button>
                                        
=======
                                            <a  onclick="deletemenu(this)" data-menuid="@item.ID" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
>>>>>>> e5481055c5749f4c30140eea04cb97dbef94551c
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>


<script src="~/Content/theme/vendor/sweetalert/sweet-alert.min.js"></script>
@section Scripts{
    <script>
        $(".warning-message-parameter").on("click", function (e) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this deletion!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel the process!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    deletemenu(e.currentTarget);
                } else {
                    swal("Cancelled", "Your menu is safe :)", "error");
                }
            });
            e.preventDefault
        });

        var deletemenu = function (btn) {
            var obj = { ID: $(btn).data("menuid")  };
                $.ajax({
=======
</div> 
@section Scripts{
    <script>
        var deletemenu = function (btn) {
            var obj = { ID: $(btn).data("menuid") };
            swal({
                title: "A jeni i sigurte?",
                text: "Jeni duke fshire të dhëna nga sistemi",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Po, fshije!",
                cancelButtonText: "Jo, anuloje!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                    if (isConfirm) { 
                    $.ajax({
>>>>>>> e5481055c5749f4c30140eea04cb97dbef94551c
                    url: "@Url.Action("DeleteMenu", "MENU")",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    data: obj,
                    success: function (rs) {
                        if (rs.status) {
<<<<<<< HEAD
                            swal("Deleted!", rs.Mesazhi, "success");
                            setTimeout(() => {
                                location.reload();
                            }, 1500)
                        }
                        else {
                            swal("Cancelled", rs.Mesazhi , "error");
=======
                            swal({ title: "Fshire", text: rs.Mesazhi, type: "success" },
                                function () {
                                    location.reload();
                                }
                            ); 
                        }
                        else {
                            swal("Gabim!",
                                rs.Mesazhi,
                                "info"); 
>>>>>>> e5481055c5749f4c30140eea04cb97dbef94551c
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        if (jqXHR.status && jqXHR.status == 400) {
                            console.log(jqXHR.responseText);
                        } else {
                            console.log("Something went wrong");
                        }
                    }
                });
<<<<<<< HEAD
=======
                } else {
                    swal("Anuluar", "Fshirja e te dhenave eshte anuluar :)", "error");
                }
            });

>>>>>>> e5481055c5749f4c30140eea04cb97dbef94551c
        };
    </script>
}


