<!DOCTYPE html>
@using SMGJ.Models
@{

    SMGJ.Models.SMGJDB db = new SMGJ.Models.SMGJDB();
   
    GetUser user = (GetUser)Session["User"];
    int roli = Session["RoliID"] != null ? user.RoleID : 0;
}
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>SMGJ - @ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: META -->

    <link href="~/Content/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/theme/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/theme/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/theme/vendor/themify-icons/themify-icons.min.css">
    <link href="~/Content/theme/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/theme/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="~/Content/theme/assets/css/styles.css">
    <link rel="stylesheet" href="~/Content/theme/assets/css/plugins.css">
    <link rel="stylesheet" href="~/Content/theme/assets/css/themes/theme-1.css" id="skin_color" />
    <link href="~/Content/cms/vendor/select2/select2.min.css" rel="stylesheet" media="screen">

</head>
<body>
    <div id="app">
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    <div class="search-form">
                        <a class="s-open" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <form class="navbar-form" role="search">
                            <a class="s-remove" href="#" target=".navbar-form">
                                <i class="ti-close"></i>
                            </a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <button class="btn search-button" type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-title">
                        <span>Main Navigation</span>
                    </div>
                    @{ //url : Controller/Action
                        //1
                        //te gjendet se ne cilin kontroller jam.
                        //var controller =
                        //2
                        //te gjendet metoden
                        //var action =

                        //     var m = db.MENUs.Where(q=>q.Controller == controller && q.Action_Metoda == "action").tolist();


                        var current_controller = ViewContext.RouteData.Values["controller"].ToString();
                        var current_action = ViewContext.RouteData.Values["action"].ToString();
                        
                        string current_menu = "/" + current_controller + "/" + current_action;

                        var lista_menuve = (from i in db.MENUs

                                            let string_url = (i.Controller + "/" + i.Action_Metoda == "" ? "javascript:void(0)" :
                                              "/" + i.Controller + "/" + i.Action_Metoda)

                                            let css = current_menu.ToLower() == string_url.ToLower() ? "active open" : ""

                                            join m in db.MENU_ROLI on i.ID equals m.MenuID
                                            where m.RoliID == roli

                                            orderby i.Renditja select new Menute
                                            {
                                                Pershkrimi = i.Emertimi,
                                                Url = string_url,
                                                css = css
                                            }).ToList();



                    }
                    <ul class="main-navigation-menu">
                        @foreach (var item in lista_menuve)
                            {
                                  <li class="@item.css">
                                <a href="@item.Url">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> @item.Pershkrimi </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            }
                        @*<li class="active open">
                            <a href="index.html">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Dashboard </span>
                                    </div>
                                </div>
                            </a>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </div>
        <div class="app-content">
            <header class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="assets/images/logo.png" alt="Clip-Two" />
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span>MESSAGES</span>
                            </a>
                            <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                                <li>
                                    <span class="dropdown-header"> Unread messages</span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper ps-container">
                                        <ul>
                                            <li class="unread">
                                                <a href="javascript:;" class="unread">
                                                    <div class="clearfix">
                                                        <div class="thread-image">
                                                            <img src="./assets/images/avatar-2.jpg" alt="">
                                                        </div>
                                                        <div class="thread-content">
                                                            <span class="author">Nicole Bell</span>
                                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                            <span class="time"> Just Now</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="unread">
                                                    <div class="clearfix">
                                                        <div class="thread-image">
                                                            <img src="./assets/images/avatar-3.jpg" alt="">
                                                        </div>
                                                        <div class="thread-content">
                                                            <span class="author">Steven Thompson</span>
                                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                            <span class="time">8 hrs</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <div class="clearfix">
                                                        <div class="thread-image">
                                                            <img src="./assets/images/avatar-5.jpg" alt="">
                                                        </div>
                                                        <div class="thread-content">
                                                            <span class="author">Kenneth Ross</span>
                                                            <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                            <span class="time">14 hrs</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <a href="#">
                                        See All
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-check-box"></i> <span>ACTIVITIES</span>
                            </a>
                            <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                                <li>
                                    <span class="dropdown-header"> You have new notifications</span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper ps-container">
                                        <div class="list-group no-margin">
                                            <a class="media list-group-item" href="">
                                                <img class="img-circle" alt="..." src="assets/images/avatar-1.jpg">
                                                <span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span>
                                            </a>
                                            <a class="media list-group-item" href="">
                                                <span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <a href="#">
                                        See All
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-world"></i> English
                            </a>
                            <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                                <li>
                                    <a href="#" class="menu-toggler">
                                        Deutsch
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="menu-toggler">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="menu-toggler">
                                        Italiano
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown current-user">
                            @*<a href class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Content/theme/assets/images/avatar-1.jpg" alt="Peter"> <span class="username">Peter <i class="ti-angle-down"></i></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li>
                                    <a href="pages_user_profile.html">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="pages_calendar.html">
                                        My Calendar
                                    </a>
                                </li>
                                <li>
                                    <a hef="pages_messages.html">
                                        My Messages (3)
                                    </a>
                                </li>
                                <li>
                                    <a href="login_lockscreen.html">
                                        Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="login_signin.html">
                                        Log Out
                                    </a>
                                </li>
                            </ul>*@
                        </li>
                    </ul>

                </div>
            </header>
            <div class="main-content">
                <div class="wrap-content container" id="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/theme/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/theme/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Content/theme/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/theme/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/theme/assets/js/main.js"></script>
    <script src="~/Content/theme/vendor/select2/select2.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            log_out();
        });

        var log_out = function ()

        {

                        $.ajax({
                url: "@Url.Action("GetUserHome","Home")",
                cache: false,
                type: "GET",
                dataType: "html",
                success: function (rs) {
                    $(".current-user").html(rs);
                },
                error: function (jqXHR, error, errorThrown) {
                    if (jqXHR.status && jqXHR.status == 400) {
                        console.log(jqXHR.responseText);
                    } else {
                        console.log("Diçka shkoi keq...");
                    }
                }
            });
        }


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
