@model SMGJ.Models.GJEDHI
@{
    ViewBag.Title = "Edit";
    var gjinia = (List<SelectListItem>)ViewBag.Gjinia;
}
@Html.HiddenFor(gj => gj.ID)
<section id="page-title">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle text-center">Ndryshimi i Gjedhit</h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="panel panel-white">
        <div class="panel-body">
            <form id="forma">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">
                            Gjedhi <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(gj => gj.Emri, new { @class = "form-control", @placeholder = "Shkruani emrin e gjedhit" })
                    </div>
                    @*<div class="form-group">
                            <label class="control-label">
                                Ferma
                            </label>
                            @Html.DropDownListFor(gj => gj.FermaID, null, "Zgjedh", (new { @class = "form-control select2" }))
                        </div>*@
                    <div class="form-group">
                        <label class="control-label">
                            Prindi
                        </label>
                        @Html.DropDownListFor(gj => gj.PrindiID, null, "Zgjedh", (new { @class = "form-control select2" }))
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Raca
                        </label>
                        @Html.DropDownListFor(gj => gj.RacaID, null, "Zgjedh", (new { @class = "form-control select2" }))
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Tipi
                        </label>
                        @Html.DropDownListFor(gj => gj.TipiID, null, "Zgjedh", (new { @class = "form-control select2" }))
                    </div>
                    <div class="form-group">
                        <label class="control-label">Datelindja</label>
                        <p class="input-group input-append datepicker date">
                            @Html.TextBoxFor(gj => gj.Datelindja, new { @class = "form-control", @placeholder = "" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Gjinia:
                        </label>
                        @foreach (var item in gjinia)
                        {
                            <input type="radio" id="@item.Value" name="select1" value="@item.Value" checked=@item.Selected />
                            @item.Text
                        }
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Vathe <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(gj => gj.Vathe, new { @class = "form-control", @placeholder = "Shkruani emertimin e vathit" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Pesha <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(gj => gj.Pesha, new { @class = "form-control", @placeholder = "Shkruani vleren e peshes" })
                    </div>

                </div>
            </form>
        </div>
        <div class="panel-footer clearfix">
            <div class="col-md-12">
                <button class="btn btn-primary btn-wide pull-right" type="button" onclick="edito(this)">
                    Ndrysho <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        runValidator1 = function () {
            var form1 = $('#forma');
            var errorHandler1 = $('.errorHandler', form1);
            var successHandler1 = $('.successHandler', form1);

            $('#forma').validate({
                errorElement: "span", // contain the error msg in a span tag
                errorClass: 'help-block',
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("type") == "radio" || element.attr("type") == "checkbox") { // for chosen elements, need to insert the error after the chosen container
                        error.insertAfter($(element).closest('.form-group').children('div').children().last());
                    } else if (element.attr("name") == "dd" || element.attr("name") == "mm" || element.attr("name") == "yyyy") {
                        error.insertAfter($(element).closest('.form-group').children('div'));
                    } else {
                        error.insertAfter(element);
                        // for other inputs, just perform default behavior
                    }
                },
                ignore: "",
                rules: {
                    Emri: {
                        required: true
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit
                    successHandler1.hide();
                    errorHandler1.show();
                },
                highlight: function (element) {
                    $(element).closest('.help-block').removeClass('valid');
                    // display OK icon
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                    // add the Bootstrap error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element).closest('.form-group').removeClass('has-error');
                    // set error class to the control group
                },
                success: function (label, element) {
                    label.addClass('help-block valid');
                    // mark the current input as valid and display OK icon
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
                },
                submitHandler: function (form) {
                    successHandler1.show();
                    errorHandler1.hide();
                    // submit form
                    //$('#form').submit();
                }
            });
        };
        var edito = function (btn) {
            runValidator1();
            if ($("#forma").valid() === true) {
                    var gjinia = true;
                    if ($("input[name='select1']:checked").val() == 0) {
                        gjinia = false;
                    }
                    var obj = {
                    ID: $("#ID").val(),
                    Emri: $("#Emri").val(),
                    PrindiID: $("#PrindiID").val(),
                    //FermaID: $("#FermaID").val(), ---- nuk mundesh me zgjedh ne cilen ferme me shtu gjedhin pasi qe e kemi vetem nje ferme per nje perdorues dhe cdo gjedh shtohet te ferma e perdoruesit automatikisht
                    RacaID: $("#RacaID").val(),
                    TipiID: $("#TipiID").val(),
                    Datelindja: $("#Datelindja").val(),
                    Gjinia: gjinia,
                    Vathe: $("#Vathe").val(),
                    Pesha: $("#Pesha").val()
                };
                var url_redirect = '@Url.Action("Index", "GJEDHI")';
                $.ajax({
                    url: "@Url.Action("Edit", "GJEDHI")",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    data: obj,
                    success: function (rs) {
                        if (rs.status) {
                            window.location.href = url_redirect;
                        }
                        else {
                            swal("Nuk u pranua", rs.Mesazhi, "error");
                        }

                    },
                    error: function (jqXHR, error, errorThrown) {
                        if (jqXHR.status && jqXHR.status == 400) {
                            console.log(jqXHR.responseText);
                        } else {
                            console.log("Something went wrong");
                        }
                    }
                });

            }

            };
    </script>
}